@import 'node_modules/bulma/css/bulma.css';

body * { 
    color: white !important;
    font-family: 'DM Sans', 'Inter', sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* Inter fix for Chrome */
    font-weight: 500;
}
::selection {
    background: #ffc40080; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #ffc40080; /* Gecko Browsers */
  }

.navbar {
    background-color: rgb(56, 56, 56);    
}
.navbar a, p{
    color: white !important;
    font-weight: 440;
    font-size: 1.24rem;
}

.navbar-item p{ 
    font-size: 1.3em;
}

a.navbar-item:hover{ 
    background-color:rgb(56, 56, 56) !important;
    border-bottom: thick solid #ffc400 !important;
    color: #ffc400 !important;
}
a.navbar-item:active{ 
    color: rgb(56, 56, 56)  !important;
}

.nameOutline {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffc400;
    -webkit-text-fill-color: rgb(110, 110, 110);
    font-weight: 400;
}
p.navbar-item{
    font-stretch: 120%;
    font-size: larger;
}

.backgroundColor1{
    background-color: rgb(110, 110, 110);
}

.backgroundColor2{
    background-color: rgb(56, 56, 56);
}

/* Button Color Override */
button{
    /* font-weight: 600 !important; */
    font-size: 1.1em;
}

.buttonCTA{
    background-color: #ffc400 !important;
    text-shadow: 0 .6px #dbb22a;
    font-weight: 550;
}

.button.is-primary:hover, .button.is-primary.is-hovered {
    background-color: #f2be14 !important;
    opacity: 0.80;
}

.button.is-primary:active, .button.is-primary.is-active {
    background-color: #ffc400 !important;
}

.button.is-primary.is-outlined {
    background-color: transparent;
    border-color: #ffc400 !important; 
    color: #ffc400;
}
  
.button.is-primary.is-outlined:hover, .button.is-primary.is-outlined.is-hovered, .button.is-primary.is-outlined:focus, .button.is-primary.is-outlined.is-focused {
    background-color:  rgb(100, 100, 100) !important;
    border-color: #f2be14 !important;
    opacity: 0.75;
}
  
.button.is-primary.is-outlined.is-loading::after {
    border-color: transparent transparent #ffc400 #ffc400 !important;
}
  
.button.is-primary.is-inverted {
    color: #ffc400 !important;
}

.button.is-primary.is-inverted.is-outlined:hover, .button.is-primary.is-inverted.is-outlined.is-hovered, .button.is-primary.is-inverted.is-outlined:focus, .button.is-primary.is-inverted.is-outlined.is-focused {
    color: white !important;
}

.button.is-primary.is-inverted.is-outlined.is-loading:hover::after, .button.is-primary.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-primary.is-inverted.is-outlined.is-loading:focus::after, .button.is-primary.is-inverted.is-outlined.is-loading.is-focused::after {
    border-color: transparent transparent #ffc400 #ffc400 !important;
}
  /* Button End */

.hero{ 
    position: relative;
    display: flex;
    /* height: 90vw; */
    overflow: hidden;
    width:100%;
    /* background-color: rgb(75, 74, 67) !important; */
    background-color: rgb(56, 56, 56);
}

img.heroImg{
    margin-left:-15% !important;
    z-index: 1;
    position: absolute; 
    width: 90%; 
    object-fit: cover;
    height: 80vh; 
    display: block;
    object-position: left top;
    border-radius: 28%;
}

.heroTextSection {
    z-index: 2; 
    max-width: 80%; 
    margin-left: 49px; 
    padding-top: 7rem;
    display: block;
    margin-bottom: 4rem;
}

.heroTextSection h1{
    font-weight: 800 !important;
    color: white !important;
    font-size: 3.6em;
    line-height: 70px;
    /* margin: 40px 0; */
    /* margin-bottom: 3vw; */
}

.heroTextSection h2{
    font-weight: 600;
    font-size: 1.7em;
}

.experienceName{
    font-weight: 401;
    font-size: 1.2em;
}
.contactButtons{
    margin: 10px 10px 10px 0px;
}

.footer a, .links{
    border-bottom: thin solid #ffc400 ;
}

.footer{
    background-color: rgb(56, 56, 56);   
}

.footer div p { 
    font-size: 16px !important; 
}

@media screen and (max-width: 768px) {
    .navbar a, p{
        font-weight: 400;
        font-size: .8em!important;
    }
    .heroTextSection h1{
        font-size: 2.5em;
    }
    .heroTextSection h2{
        font-weight: 600;
        font-size: 1.2em;
    }
    
    img.heroImg{
        height: 100vh;
        border-radius: 0%;
        max-width: 100%;
        margin: 0px 0px !important;
        background-size: cover;
        top: 0;
        right: 0;
        left: 0;
        position: absolute; 
        width: 100%; 
        object-fit: cover;
        display: block;
        object-position: center;
    }

    .heroTextSection {
    z-index: 2; 
    max-width: 80%; 
    margin-left: 5px; 
    padding-top: 1rem;
    display: block;
    margin-bottom: 4rem;
}
    .buttonCTA{
        margin-bottom: 1rem;
    }

    .mobileMenu, .navbar-brand{
        display: inline-block;
        vertical-align: top;
        align-content: start;
        padding-right: 0px;
        margin-bottom: 0;
    }
    input[type='checkbox']{ 
        display: none; 
    } 
    .lbl-toggle { 
        /* display: block;  */
        /* display: inline; */
        text-align: left; 
        padding: 1rem; 
        transition: all 0.25s ease-out; 
    } 
    .lbl-toggle::before{ 
        content: ' '; 
        /* display: inline-block;  */
        /* display: inline; */
        vertical-align: middle; 
        margin-right: .7rem; 
        transform: translateY(-2px); 
        transition: transform .2s ease-out; 
    } 
    .toggle:checked+.lbl-toggle::before{ 
        transform: rotate(90deg) translateX(-3px); 
    } 
    .collapsible-content { 
        max-height: 0px; 
        overflow: hidden; 
        transition: max-height .25s ease-in-out; 
    } 
    .toggle:checked + .lbl-toggle + .collapsible-content { 
        max-height: 350px; 
    } 
    .toggle:checked+.lbl-toggle { 
        /* border-bottom-right-radius: 0; 
        border-bottom-left-radius: 0;  */
    } 
    .collapsible-content .content-inner { 
        /* border-bottom-left-radius: 7px; 
        border-bottom-right-radius: 7px;  */
        padding: .5rem 1rem; 
    } 
    .collapsible-content p { 
        margin-bottom: 0; 
    }

}


