/* 
@import './node_modules/bulma/css/bulma.css'; 
@import url("./node_modules/bulma/css/bulma.css"); */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; 


body * { 
    color: white !important;
    font-family: 'DM Sans', sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* Inter fix for Chrome */
    font-weight: 500;
    background-color: unset;
}
::selection {
    background: #ffc40080; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #ffc40080; /* Gecko Browsers */
  }

.navbar {
    background-color: rgb(56, 56, 56);    
}
.navbar a, p{
    color: white !important;
    font-weight: 440;
    font-size: 1.24rem;
}

.navbar-item p{ 
    font-size: 1.3em;
}

a.navbar-item:hover{ 
    background-color:rgb(56, 56, 56) !important;
    border-bottom: thick solid #ffc400 !important;
    color: #ffc400 !important;
}
a.navbar-item:active{ 
    color: rgb(56, 56, 56)  !important;
}

.nameOutline {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffc400;
    -webkit-text-fill-color: rgb(110, 110, 110);
    font-weight: 400;
}
p.nameOutline {
    align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
}

p.navbar-item{
    font-stretch: 120%;
    font-size: larger;
}

.backgroundColor1{
    /* background-color: rgb(110, 110, 110);  */
    background-color: rgb(99, 99, 103);
}

.backgroundColor2{
    background-color: rgb(56, 56, 56);
}

/* Button Color Override */
button{
    font-size: 1.1em;
}

.buttonCTA{
    background-color: #ffc400 !important;
    text-shadow: 0 .6px #dbb22a;
    font-weight: 550;
}

.button.is-primary:hover, .button.is-primary.is-hovered {
    background-color: #f2be14 !important;
    opacity: 0.80;
}

.button.is-primary:active, .button.is-primary.is-active {
    background-color: #ffc400 !important;
}

.button.is-primary.is-outlined {
    background-color: transparent;
    border-color: #ffc400 !important; 
    color: #ffc400;
}
  
.button.is-primary.is-outlined:hover, .button.is-primary.is-outlined.is-hovered, .button.is-primary.is-outlined:focus, .button.is-primary.is-outlined.is-focused {
    background-color:  rgb(100, 100, 100) !important;
    border-color: #f2be14 !important;
    opacity: 0.75;
}
  
.button.is-primary.is-outlined.is-loading::after {
    border-color: transparent transparent #ffc400 #ffc400 !important;
}
  
.button.is-primary.is-inverted {
    color: #ffc400 !important;
}

.button.is-primary.is-inverted.is-outlined:hover, .button.is-primary.is-inverted.is-outlined.is-hovered, .button.is-primary.is-inverted.is-outlined:focus, .button.is-primary.is-inverted.is-outlined.is-focused {
    color: white !important;
}

.button.is-primary.is-inverted.is-outlined.is-loading:hover::after, .button.is-primary.is-inverted.is-outlined.is-loading.is-hovered::after, .button.is-primary.is-inverted.is-outlined.is-loading:focus::after, .button.is-primary.is-inverted.is-outlined.is-loading.is-focused::after {
    border-color: transparent transparent #ffc400 #ffc400 !important;
}
  /* Button End */

.hero{ 
    position: relative;
    display: flex;
    /* height: 90vw; */
    overflow: hidden;
    width:100%;
    /* background-color: rgb(75, 74, 67); */
    background-color: #505050;
}

img.heroImg{
    margin-left:-15% !important;
    z-index: 1;
    position: absolute; 
    width: 90%; 
    object-fit: cover;
    height: 80vh; 
    display: block;
    object-position: left top;
    border-radius: 28%;
}

.heroTextSection {
    z-index: 2; 
    max-width: 80%; 
    margin-left: 49px; 
    padding-top: 7rem;
    display: block;
    margin-bottom: 4rem;
}

.heroTextSection h1{
    font-weight: 800 !important;
    color: white !important;
    font-size: 3.6em;
    line-height: 70px;
}

.heroTextSection h2{
    font-weight: 600;
    font-size: 1.7em;
}

.experienceName{
    font-weight: 401;
    font-size: 2.4vh;
}
.contactButtons{
    margin: 10px 10px 10px 0px;
}

.headerCTAButton{
    margin-left: 1rem;
}

.aboutMeText{
    font-size: 1.25em;
    font-weight: 300;
}

.jobTitle{
    font-weight: 700;
    color: rgb(226, 232, 240);
}

.experienceName h1{
    margin-right: 15em !important;
    margin-top: 4em !important;
}

.contactTextCTA{
    text-shadow: 2px 2px 4px rgb(90, 90, 90);
    font-weight: 900;
    font-stretch: extra-expanded !important;
    font-size: 1.4em !important;
    display:inline-block;
    margin: .8rem 0;
}


/* Project CARD START */
.cards{
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 60px));
    grid-gap: 40px;
    align-items: baseline;
  }
  
.card {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(110, 110, 110); */
    background-color: rgb(99, 99, 103);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-sizing: border-box;
  }
  
.card:hover {
    transform: translateY(-7px);
  }
  
.cardImgContainer {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
  }
  
.cardImgContainer img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.card__content {
    padding: 20px;
  }
  
.cardTitle {
    margin-bottom: 20px;
    font-weight: 500;
    font-stretch: expanded;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(90, 90, 90);
}

.pendingUpdate{
    pointer-events:none;
    opacity: .4;
  }

  @media only screen and (max-width: 1000px) {
    .card {
      grid-column-end: span 6;
    }
  }
  
  @media only screen and (max-width: 700px) {
    main {
      grid-gap: 20px;
    }
    .card {
      grid-column-end: span 12;
    }
  }
  
  @media only screen and (max-width: 500px) {
    main {
      grid-template-columns: 10px repeat(6, 1fr) 10px;
      grid-gap: 10px;
    }
    .cards {
      grid-column: 2 / span 6;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 20px;
    }
    .card {
      grid-column-end: span 6;
    }
  }
/* Project CARDS END */
#Contact{
    background-image: url('./images/HeroImg.jpg');
    background-position:bottom;
    background-size: cover;
}

#Contact > p {
    font-size: 1.45rem !important; 
}

.contactButtonsDiv{
    margin-top: .3vh;
}
.footer a, .links{
    border-bottom: thin solid #ffc400 ;
}

.footer{
    background-color: rgb(56, 56, 56);   
    padding-bottom: 3.6em;
    /* background-image: url('./images/HeroImg.jpg');
    background-position:bottom;
    background-size: cover; */
}

.footer div p { 
    font-size: 16px !important; 
}


/* MOBILE Start */ 
@media screen and (max-width: 768px) {
    .navbar a, p{
        font-weight: 400;
        font-size: .9em!important;
    }
    .heroTextSection h1{
        font-size: 2.5em;
    }
    .heroTextSection h2{
        font-weight: 600;
        font-size: 1.2em;
    }
    img.heroImg{
        height: 100vh;
        border-radius: 0%;
        max-width: 100%;
        margin: 0px 0px !important;
        background-size: cover;
        top: 0;
        right: 0;
        left: 0;
        position: absolute; 
        width: 100%; 
        object-fit: cover;
        display: block;
        object-position: center;
    }
    .heroTextSection {
    z-index: 2; 
    max-width: 80%; 
    margin-left: 5px; 
    padding-top: 1rem;
    display: block;
    margin-bottom: 4rem;
    }
    .buttonCTA{
        margin-bottom: 1rem;
    }
    .mobileMenu, .navbar-brand{
        display: inline-block;
        vertical-align: top;
        align-content: start;
        padding-right: 0px !important;
        margin-bottom: 0;
    }
    input[type='checkbox']{ 
        display: none !important; 
    } 
    .lbl-toggle { 
        text-align: left; 
        padding: 1rem; 
        transition: all 0.25s ease-out; 
    } 
    .lbl-toggle::before{ 
        content: ' '; 
        vertical-align: middle; 
        margin-right: .7rem; 
        transform: translateY(-2px); 
        transition: transform .2s ease-out; 
    } 
    .toggle:checked+.lbl-toggle::before{ 
        transform: rotate(90deg) translateX(-3px); 
    } 
    .collapsible-content { 
        max-height: 0px; 
        overflow: hidden; 
        transition: max-height .25s ease-in-out; 
    } 
    .toggle:checked + .lbl-toggle + .collapsible-content { 
        max-height: 350px; 
    } 
    .collapsible-content .content-inner { 
        padding: .5rem 1rem; 
    } 
    .collapsible-content p { 
        margin-bottom: 0; 
    }
    #Projects h1 a {
        margin-left: initial;
    }
    h1 .headerCTAButton{
        margin: 1em;
    }
    .contactButtonsDiv{
        display: flex;
        justify-content: center;
    }
    .pendingUpdate{
        display: none;
    }
}

/* Overide Media Settings for Navbar */
/* navbar
navbar-dropdown
navbar-item 
navbar-brand
collapsible
lbl-toggle
collapsible-content
content-inner */

@media screen and (max-width: 768px) {
    .media-content {
        overflow-x: none;      }
}

@media screen and (min-width: 481px) {
    .navbar-menu{
        background-color: unset !important;
    }

    .navbar,
    .navbar-menu,
    .navbar-start,
    .navbar-end {
      align-items: stretch;
      display: flex;
    }
    .navbar {
      min-height: 3.25rem;
    }
    .navbar.is-spaced {
      padding: 1rem 2rem;
    }
    .navbar.is-spaced .navbar-start,
    .navbar.is-spaced .navbar-end {
      align-items: center;
    }
    .navbar.is-spaced a.navbar-item,
    .navbar.is-spaced .navbar-link {
      border-radius: 4px;
    }
    .navbar.is-transparent a.navbar-item:focus, .navbar.is-transparent a.navbar-item:hover, .navbar.is-transparent a.navbar-item.is-active,
    .navbar.is-transparent .navbar-link:focus,
    .navbar.is-transparent .navbar-link:hover,
    .navbar.is-transparent .navbar-link.is-active {
      /* background-color: transparent !important; */
    }
    .navbar.is-transparent .navbar-item.has-dropdown.is-active .navbar-link, .navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:focus .navbar-link, .navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:focus-within .navbar-link, .navbar.is-transparent .navbar-item.has-dropdown.is-hoverable:hover .navbar-link {
      /* background-color: transparent !important; */
    }
    .navbar.is-transparent .navbar-dropdown a.navbar-item:focus, .navbar.is-transparent .navbar-dropdown a.navbar-item:hover {
        background-color: #c41818 !important;

    }
    .navbar.is-transparent .navbar-dropdown a.navbar-item.is-active {
        background-color: #c41818 !important;

    }
    .navbar-burger {
      display: none;
    }
    .navbar-item,
    .navbar-link {
      align-items: center;
      display: flex;
    }
    .navbar-item.has-dropdown {
      align-items: stretch;
    }
    .navbar-item.has-dropdown-up .navbar-link::after {
      transform: rotate(135deg) translate(0.25em, -0.25em);
    }
    .navbar-item.has-dropdown-up .navbar-dropdown {
      /* border-bottom: 2px solid #dbdbdb; */
      border-radius: 6px 6px 0 0;
      border-top: none;
      bottom: 100%;
      box-shadow: 0 -8px 8px rgba(10, 10, 10, 0.1);
      top: auto;
    }
    .navbar-item.is-active .navbar-dropdown, .navbar-item.is-hoverable:focus .navbar-dropdown, .navbar-item.is-hoverable:focus-within .navbar-dropdown, .navbar-item.is-hoverable:hover .navbar-dropdown {
      display: block;
    }
    .navbar.is-spaced .navbar-item.is-active .navbar-dropdown, .navbar-item.is-active .navbar-dropdown.is-boxed, .navbar.is-spaced .navbar-item.is-hoverable:focus .navbar-dropdown, .navbar-item.is-hoverable:focus .navbar-dropdown.is-boxed, .navbar.is-spaced .navbar-item.is-hoverable:focus-within .navbar-dropdown, .navbar-item.is-hoverable:focus-within .navbar-dropdown.is-boxed, .navbar.is-spaced .navbar-item.is-hoverable:hover .navbar-dropdown, .navbar-item.is-hoverable:hover .navbar-dropdown.is-boxed {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }
    .navbar-menu {
      flex-grow: 1;
      flex-shrink: 0;
    }
    .navbar-start {
      justify-content: flex-start;
      margin-right: auto;
    }
    .navbar-end {
      justify-content: flex-end;
      margin-left: auto;
    }
    .navbar-dropdown {
        background-color: #c41818 !important;
        border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top: 2px solid #4b0707;
      box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
      display: none;
      font-size: 0.875rem;
      left: 0;
      min-width: 100%;
      position: absolute;
      top: 100%;
      z-index: 20;
    }
    .navbar-dropdown .navbar-item {
      padding: 0.375rem 1rem;
      white-space: nowrap;
    }
    .navbar-dropdown a.navbar-item {
      padding-right: 3rem;
    }
    .navbar-dropdown a.navbar-item:focus, .navbar-dropdown a.navbar-item:hover {
      background-color: #c41818 !important;
      color: #0a0a0a;
    }
    .navbar-dropdown a.navbar-item.is-active {
        background-color: #c41818 !important;

    }
    .navbar.is-spaced .navbar-dropdown, .navbar-dropdown.is-boxed {
      border-radius: 6px;
      border-top: none;
      box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
      display: block;
      opacity: 0;
      pointer-events: none;
      top: calc(100% + (-4px));
      transform: translateY(-5px);
      transition-duration: 86ms;
      transition-property: opacity, transform;
    }
    .navbar-dropdown.is-right {
      left: auto;
      right: 0;
    }
    .navbar-divider {
      display: block;
    }
    .navbar > .container .navbar-brand,
    .container > .navbar .navbar-brand {
      margin-left: -0.75rem;
    }
    .navbar > .container .navbar-menu,
    .container > .navbar .navbar-menu {
      margin-right: -0.75rem;
    }
    .navbar.is-fixed-bottom-desktop, .navbar.is-fixed-top-desktop {
      left: 0;
      position: fixed;
      right: 0;
      z-index: 30;
    }
    .navbar.is-fixed-bottom-desktop {
      bottom: 0;
    }
    .navbar.is-fixed-bottom-desktop.has-shadow {
      box-shadow: 0 -2px 3px rgba(10, 10, 10, 0.1);
    }
    .navbar.is-fixed-top-desktop {
      top: 0;
    }
    html.has-navbar-fixed-top-desktop,
    body.has-navbar-fixed-top-desktop {
      padding-top: 3.25rem;
    }
    html.has-navbar-fixed-bottom-desktop,
    body.has-navbar-fixed-bottom-desktop {
      padding-bottom: 3.25rem;
    }
    html.has-spaced-navbar-fixed-top,
    body.has-spaced-navbar-fixed-top {
      padding-top: 5.25rem;
    }
    html.has-spaced-navbar-fixed-bottom,
    body.has-spaced-navbar-fixed-bottom {
      padding-bottom: 5.25rem;
    }
    a.navbar-item.is-active,
    .navbar-link.is-active {
      color: #0a0a0a;
    }
    a.navbar-item.is-active:not(:focus):not(:hover),
    .navbar-link.is-active:not(:focus):not(:hover) {
      /* background-color: transparent; */
    }
    .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
      background-color: #c41818 !important;
    }
  }
  
